[Unit]
Description=grabserial logging
DefaultDependencies=no
After=local-fs.target time-sync.target

[Service]
Type=simple
ExecStart=/home/pi/.config/systemd/user/ttl-logger.sh "ttl__%%Y-%%m-%%d_%%H-%%M-%%S.log" 
Restart=on-failure
RestartSec=10


[Install]
WantedBy=default.target